<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mp.yourcalendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourCalendar">
        <receiver android:name=".CalendarAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCMJTD8e4kqs_j2ueRc2sW4efG4wB_0oY" />

        <activity android:name=".AuthActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.YourCalendar.NoActionBar"> <!-- added -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />

        <service
            android:name=".EventWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>